@charset "utf-8";
/* CSS Document */

body {
	background-color: #e6e7ff;
}

h2 {
	font-family: Gotham, "Helvetica Neue", Helvetica Arial, "sans-serif";
	color: #4800b7;
	font-size: 35px;
	background-color: white;
	padding: 25px;
	border: 4px;
	border-radius: 20px;
	padding: 15px;
}

h3 {
	font-family: Gotham, "Helvetica Neue", Helvetica Arial, "sans-serif";
	color:#7658c0;
	font-size: 25px;
	line-height: 18px;
	width: 340px;
	background-color: white;
	padding: 20px;
	border: 2px;
	border-radius: 20px;
	padding: 15px;
}

h4 {
	font-family: Gotham, "Helvetica Neue", Helvetica Arial, "sans-serif";
	color:#4800b7;
	font-size: 20px;
}

p {
	font-family: Gotham, "Helvetica Neue", Helvetica Arial, "sans-serif";
	color:#4800b7;
	font-size: 18px;
}
